
@import "../../variables.scss";

.header {
  padding: 2rem 0;
  background-color: $primary-color;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    color: $primary-color;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: .6rem;
    transition: all .2s ease;
    cursor: pointer;
  }

  &__icon {
    width: 1rem;
    margin-left: .6rem;
  }
}

