// Variables
$primary-color: #3b80ff;
$primary-color-dark: #285dc7;
$body-color: #f1f1f1;

$male-image-bg: #35afaa;
$female-image-bg: #f4c336;

$input-bg: #e8e8e8;

$box-shadow: 0px 0px 5px 0px rgba(0,0,0,.4);
